{% extends 'base.html' %}
{% load crispy_forms_tags %}
{{form.media}}
{% block content %}
	<div class="col-md-6 mx-auto pt-3">
      <div class="card">
        <div class="card-header text-white bg-primary ">
          <h4 class="text-center"><i class="fas fa-plus"></i> Create Todo</h4></div>
          <div class="card-body">
            <form method="post" accept-charset="utf-8">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-sm-12">
                  {{form.name|as_crispy_field}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-12">
                  {{form.category|as_crispy_field}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-12">
                  {{form.end_date|as_crispy_field}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-12">
                  {{form.description|as_crispy_field}}
                </div>
              </div>
              <div class="form-group">
                <div class="mx-auto">
                  <button type="submit" class="btn btn-block btn-sm text-white bg-primary">Create</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}
