{% extends 'base.html' %}
{% block title %}
    Reset Password
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header text-white bg-primary">
              <h1>Reset Password</h1>
          </div>
          <div class="card-body">
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form class="form-group" method="POST">
            {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-12">
                  {{form|crispy}}
                </div>
              </div>
              <input type="submit" name="Reset my Password" class="btn btn-outline-primary btn-sm btn-block">
            </form>
          </div>
        </div>  
    </div>
{% endblock %}